@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Regular.ttf') format('ttf');
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-RegularItalic.ttf') format('ttf');
  font-weight: 400; /* Regular */
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
